<app-topnav></app-topnav>

	<div class="total">
		
		<app-sidenav></app-sidenav>

		<!-- <app-intro></app-intro> -->

		<!-- <app-requirments></app-requirments> -->
		<!-- <app-android-studio></app-android-studio> -->
	
		<!-- <app-flutter-sdk></app-flutter-sdk> -->
		<!-- <app-feature-list></app-feature-list>		 -->

		<!-- <app-mandatory-setup></app-mandatory-setup> -->

		<!-- <app-optional-setup></app-optional-setup> -->
		<!-- <app-app-build-and-release></app-app-build-and-release> -->
		<!-- <app-update></app-update> -->

		<app-disclaimer></app-disclaimer>

	
	</div>


	<app-footer></app-footer>
