          
            <footer>

                <div class="upper">
                    <div>
                        <p>Project List</p>
                        <ul>
                            <li> <a href="#"> Stack Food</a></li>
                            <li> <a href="#"> Valley</a></li>
                            <li> <a href="#"> Food</a> </li>
                            <li> <a href="#"> GroFresh</a> </li>  
                            <li> <a href="#"> Hexacom</a> </li>
                            <li> <a href="#"> 6amMart</a> </li>
                            <li> <a href="#"> 6Cash</a> </li>
                            <li> <a href="#"> 6POS</a> </li>
                            <li> <a href="#"> Demandium</a> </li>
                        </ul>
                    </div>
                    <div>
                        <p>Help</p>
                        <ul>
                            <li><a href="#">Open a ticket</a></li>
                        </ul>
                </div>
                
                </div>
                <div class="lower">
                    <div>
                        <fa-icon [icon]="facebookIcon" class="socialIcons"> </fa-icon>
                        <fa-icon [icon]="instagramIcon" class="socialIcons"> </fa-icon>
                        <fa-icon [icon]="twitterIcon" class="socialIcons"> </fa-icon>
                        <fa-icon [icon]="whatsappIcon" class="socialIcons"> </fa-icon>
                    </div>
                </div>
            </footer>