<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>Introduction</h1>

        <section id="overview">

            <h2>Overview</h2>

            <p>
                We appreciate your interest in our FoodApp.
            </p>
            <p>FoodApp is a simplified and customizable single restaurant food delivery system, developed using Flutter
                framework. Flutter is an open-source framework by Google for building beautiful, natively compiled,
                multi-platform applications from a single codebase. We have already completed the groundwork for you –
                relieving you of the stress of small detail.

            </p>

            <p>
                FoodApp consists of 2 Mobile Applications and 1 Admin Panel –
            </p>

            <ul>
                <li>Customer application for Android and iOS using Flutter. </li>
                <li>Delivery application for delivery person, for Android and iOS, developed using Flutter. </li>
                <li>Admin panel/management dashboard for application and order management for both Android and iOS using
                    Flutter. </li>
            </ul>
        </section>

        <section id="theHappyFlow">


            <h2>The Happy Flow</h2>

            <p>
                Here, we will explain how FoodApp works for customers, delivery persons and restaurant. From easy of
                order placement to delivery tracking, we will show every step of how this application works.


            </p>

        </section>
        <section id="orderFlow">
            <h3>Order Flow</h3>


            <ul>
                <li>Customer adds an item to the cart, checks out and confirms the order. </li>
                <li>Restaurant receives the order in the order receive section and confirms the order. </li>
                <li>Order will be processed by the restaurant then a delivery person will be assigned. </li>
                <li>Delivery person picks up the order from the restaurant and be on his way to deliver to the customer.
                </li>
            </ul>

        </section>
        <section id="dispatchFlow">

            <h3>Dispatch Flow</h3>


            <ul>
                <li>Restaurant receives the order, confirms it. </li>

                <li>Restaurant cooks the order. </li>
                <li>Admin looks for available delivery person from admin panel and assigns the order. </li>
                <li>Assigned delivery person picks up the order from the restaurant. </li>
            </ul>
        </section>


        <section id="transactionFlow">


            <h3>Transaction Flow</h3>

            <p>
                Here, we will show the calculation of earnings for restaurant, delivery person and commission. </p>

            <ul>
                <li>Food value = Original food price - (Food discount + Coupon discount for food) </li>
                <li>Order value = (Food value + Tax/Vat (on food value) + Delivery Charge) – Coupon discount for deliver
                    charge </li>
                <li>Customer can’t apply more than one coupon for an order. </li>
                <li>Tax/VAT is totally restaurant’s earning and restaurant needs to manage Tax/VAT manually for the
                    government. </li>

            </ul>

        </section>



        <section id="cashFlow">

            <h2>Cash Flow</h2>

            <ul>
                <li>For digital transaction, the order amount will be added to admin wallet. </li>
                <li>For cash on delivery (COD), the order amount will be added to COD wallet in delivery person’s
                    wallet. </li>

            </ul>
        </section>

        <section id="uniqueFeatures ">

            <h2>Unique Features </h2>

            <ul>
                <li>Special offers can be easily accessed from home page. </li>
                <li>Most popular items can be easily viewed from home page. </li>
                <li>Bookmark your favorite items. </li>
                <li>Customize certain toppings according to your desire. </li>
                <li>Check your past orders anytime for bookkeeping, or repeat your order(s) from the past. </li>

            </ul>
        </section>

    </div>

    <div class="div2">
        <aside>
            <ul>
                <li class="overview"><a href="#overview">Overview</a></li>
                <li class="theHappyFlow"><a href="#theHappyFlow">The Happy Flow</a></li>
                <ul>
                    <li class="orderFlow"><a href="#orderFlow">Order Flow</a></li>
                    <li class="dispatchFlow"><a href="#dispatchFlow">Dispatch Flow</a></li>
                    <li class="transactionFlow"><a href="#transactionFlow">Transaction Flow</a></li>
                </ul>
                <li class="cashFlow"><a href="#cashFlow">Cash Flow</a></li>
                <li class="uniqueFeatures "><a href="#uniqueFeatures ">Unique Features </a></li>
            </ul>
        </aside>
    </div>


</div>