
<div class="total-2">
    <div class="text-container">

        <h1>Flutter SDK</h1>

        <section>

            
            <h3>
                Flutter SDK Download Links:
            </h3>
            <p class="indent" class="indent">
                Windows:
                <a href=" https://docs.flutter.dev/get-started/install/windows "> https://docs.flutter.dev/get-started/install/windows </a>
        
            </p>
        
            <p class="indent">
                Mac:
                <a href=" https://docs.flutter.dev/get-started/install/macos"> https://docs.flutter.dev/get-started/install/macos</a>
        
            </p>
        
            <p class="indent">
                Linax:
                <a href="https://docs.flutter.dev/get-started/install/linux">https://docs.flutter.dev/get-started/install/linux</a>
        
            </p>


            <p>
                <br>
                Run the command to check the correctness of the steps:
                <code>flutter doctor</code>
        
            </p>
            
        
        </section>
    </div>



</div>

	