<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>App build & release</h1>

        <p>Command for debug build: <code>{{codeAppBuild1}}</code> </p>
        <p>Command to split marged apk: <code>{{codeAppBuild2}}</code> </p>
        <p>Location of the build file: <code>{{codeAppBuild3}}</code> </p>
        <p>Adhere to <a href="https://docs.flutter.dev/deployment/android">Flutter documentation</a>  before deploying it. </p>

    </div>

</div>