<nav class="topNav">
            
    <a> <img src="assets/images/scorpio-logo.png"> </a>
    
    <ul class="topnav-list">
        <li><a href="#">Stack Food</a></li>
        <li><a href="#">6 Valley</a></li>
        <li><a href="#">eFood</a></li>
        <li><a href="#">GoFResh</a></li>
        <li><a href="#">Hexacom</a></li>
        <li><a href="#">6amMart</a></li>
        <li><a href="#">6Cash</a></li>
        <li><a href="#">6POS</a></li>
        <li><a href="#">Demandium</a></li>
    </ul>

</nav>
