<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>Update </h1>

        <section>
            <h2>Updating from the previous version: </h2>
            <p>Steps:</p>
            <ol>
                <li>Find out the files where the changes have been made after the update.</li>
                <li>Usually the name of the folder is like: <code>{{codeUpdate1}}</code> .</li>
                <li>Replace the files with the updated one.</li>
            </ol>
        </section>
        <section>
            <h2>Updating after Customisation </h2>
            <p>There are three ways of updating after customization has been made. </p>
            <h3>Way 1:</h3>
            <p>Steps:</p>
            <ol>
                <li>Push the customized code on a Git branch</li>
                <li>Download the updated code from Codecanyon and push it on a different branch.</li>
                <li>Merge both the branches.</li>
            </ol>

            <h3>Way 2:</h3>
            <p>Steps:</p>
            <ol>
                <li>Find out the files where the changes have been made after the update.</li>
                <li>Usually the name of the folder is like: <code>{{codeUpdate1}}</code> .</li>
                <li>Merge the updated code with the already customized code.</li>
            </ol>

            <h3>Way 3:</h3>
            <p>Steps:</p>
            <ol>
                <li>Download the updated code from Codecanyon and repeat the customizations.</li>
            </ol>
        </section>


    </div>

</div>