<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>Required Customizations </h1>

        <section id="appLogo">
            <h2>Steps for Changing App Logo </h2>

            <ol>
                <li>Go to <code>{{codeLogo1}}</code> and replace logo.png with a different logo.</li>
                <li>Go to <code>{{codeLogo1}}</code> and replace logo_name.png with the image file name of the logo.
                </li>
                <li>Go to <code>{{codeLogo2}}</code> and replace all mipmap folder with <code>{{codeLogo3}}</code>
                    folder.</li>
                <li>Go to <code>{{codeLogo4}}</code> and replace Assets.xcassets with your generated Assets.xcassets
                    folder.</li>


            </ol>
        </section>
        <section id="appName">
            <h2>Steps for Changing App Name </h2>
            <p>The app name is needed to be changed in three different places.</p>
            <ol>
                <li>Go to <code>{{codeName1}}</code> and set the value of <code>{{codeName2}}</code> </li>
                <li>Go to <code>{{codeName3}}</code> and change the value of the label.</li>
                <li>Go to <code>{{codeName4}}</code> and change the value of CFBundleName .</li>
            </ol>
        </section>

        <section id="appURL">
            <h2>Steps for Changing Base URL</h2>
            <p>The admin URL is used as the base URL.</p>
            <ol>
                <li>Install Admin Panel. </li>
                <li>Go to <code>{{codeUrl3}}</code> and replace the value of the variable <code>{{codeUrl4}}</code> with the URL.</li>
                 
            </ol>
            <P>For Example: If the admin URL is <code>{{codeUrl1}}</code> then base URL would be <code>{{codeUrl2}}</code>. </P>
        </section>
    </div>



    <div class="div2">
        <aside>
            <ul>
                <li ><a href="#appLogo">App Logo</a></li>
                <li ><a href="#appName">App Name</a></li>
                <li ><a href="#appURL">App URL </a></li>
            </ul>
        </aside>
    </div>


</div>