<a class="sidenav-icon" id="hamburger"> <fa-icon [icon]="hamburger"></fa-icon> </a>

<nav class="sidenav">

    <ul>

        <a class="project-list"><span>&#8592;</span>Back to Main Menu</a>

        <li>
            <a>Introduction</a>
        </li>
        <li>
            <a class="topics">Requirments </a>
        </li>

        <li>
            <a class="topics"> Environmental Setup </a>
            <ul class="subtopics subtopics-2">
                <li> <a> Android Studio </a> </li>
                <li> <a> Flutter SDK </a> </li>
            </ul>
        </li>
        <li>
            <a class="topics">List of Features </a>
        </li>

        <li>
            <a class="topics">Customization </a>
            <ul class="subtopics">
                <li> <a> Mandatory setup </a> </li>
                <li> <a> Optional Customization </a> </li>
                <li> <a> App build & release </a> </li>
            </ul>
        </li>
        <li>
            <a class="topics">App Build </a>
        </li>
        <li>
            <a class="topics">Update </a>
        </li>
        <li>
            <a class="topics">Page Flow </a>
        </li>

        <li>
            <a class="topics">Disclaimer </a>
        </li>
    </ul>
</nav>