* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: black;
}

.total-2 {
  display: flex;
}

.text-container {
  display: block;
  padding: 50px 60px 80px 60px;
  width: 65vw;
  /* background-color: aqua; */
}

section {
  margin-top: 30px;
  margin-right: 40px;
  /* background-color: bisque; */
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  /* background-color: yellowgreen; */
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  /* background-color: blue; */
}

h3~p,
h3~ul {
  margin-left: 20px;
  /* background-color: bisque; */
}

section p {
  font-weight: 400;
  text-align: justify;
}

section ul {
  padding: 20px;
  font-weight: 400;
  text-align: justify;
  list-style: none;
}



/****** For Mobile ******/
@media screen and (max-width: 420px) {

  .text-container {
    padding: 10px 16px 16px 16px;
    width: 100%;
    order: 2;
  }

  
section {
  margin-right: 0px;
}

}


/****** For Tab ******/


@media screen and (min-width: 420px) and (max-width: 1200px) {

  .text-container {
    padding: 10px 16px 16px 16px;
    width: 100%;
    order: 2;
  }
  section {
    margin-right: 0px;
  }
  
}