

<div class="total-2">
    <div class="text-container">

        <h1>Requirments</h1>

        <section>

            <p>
                A foundational understanding of mobile app development is required in order to install, set up and deploy the app under one's own branding. 
            </p>
            <ul>
                <li><b>Preferred IDE:</b> Android Studio and VSCode</li>
                <li><b>Required Develpoment Kit:</b> Flutter SDK (version 3.3.8) and JDK with path setup </li>
            </ul>
        </section>
    </div>
    



</div>

	