<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>List of Features</h1>

        <section id="topFeatures">
            <h2>Top Features</h2>
            <ul>
                <li>Android devices supported&nbsp;</li>
                <li>Login &amp; Registration&nbsp;</li>
                <li>Categories, Most Popular &amp; Special Offer</li>
                <li>Mark &amp; Unmark your favorite food list</li>
                <li>Add to the cart your chosen item &nbsp;&nbsp;</li>
                <li>Checkout your chosen item, delivery address &amp; payment method</li>
                <li>Add promo code if want to get discount&nbsp;</li>
                <li>Ongoing order &amp; order status</li>
                <li>Review past orders</li>
                <li>Notification facilities</li>
                <li>Profile management&nbsp;</li>
            </ul>
        </section>

        <section id="technicalFeatures">
            <h2>Technical Features</h2>
            <ul>
                <li>View the all most popular list by one click</li>
                <li>View the all special offer list by one click</li>
                <li>View product details on one page before adding to the cart</li>
                <li>Increment &amp; Decrement options &nbsp;are available&nbsp;</li>
                <li>Delete item from the cart are available</li>
                <li>Notification delete facility &nbsp;by swiping</li>
                <li>Profile picture change with camera &amp; gallery functionality</li>
                <li>Personal information change fields are workable</li>
                <li>Logout option are available</li>
                <li>All features are working fine. Don&rsquo;t need to take extra pressure</li>
            </ul>
        </section>



    </div>

    <div class="div2">
        <aside>
            <ul>
                <li class="topFeatures"><a href="#topFeatures">Top Features</a></li>
                <li class="technicalFeatures"><a href="#technicalFeatures">Technical Features</a></li>
            </ul>
        </aside>
    </div>

</div>