
<div class="total-2">
    <div class="text-container">

        <h1>Android Studio</h1>


        <section>

            <p>
                <b>Android Studio Download Link:</b> 
            </p>
            <ul>
                <li><a href="https://developer.android.com/studio?gclid=CjwKCAiAiKuOBhBQEiwAId_sK4X0PLQrES_2pG_S8nPflALgWSOCUEqRRAFpbS4AmR5mXmU6hIhvHxoCfBgQAvD_BwE&gclsrc=aw.ds ">https://developer.android.com/studio?gclid=CjwKCAiAiKuOBhBQEiwAId_sK4X0PLQrES_2pG_S8nPflALgWSOCUEqRRAFpbS4AmR5mXmU6hIhvHxoCfBgQAvD_BwE&gclsrc=aw.ds </a></li>
            
            </ul>
                
            
        </section>
    </div>



</div>

	