<a href="#" class="table">On this page</a>

<div class="total-2">
    <div class="text-container">

        <h1>Optional Customizations </h1>

        <section id="appColor">
            <h2>App Color </h2>
            <p>Steps:</p>
            <ol>
                <li>Go to <code>{{codeColor1}}</code> and change the color values to get a light theme.</li>
                <li>Go to <code>{{codeColor2}}</code> and change the color values to get a dark theme.</li>
            </ol>
        </section>
        <section id="appFont">
            <h2>App Font </h2>
            <p>Steps:</p>
            <ol>
                <li>Download a preferred font from the internet. For free Google Fonts click <a href="https://fonts.google.com/">here</a></li>
                <li>Unzip the font.</li>
                <li>Go to <code>{{codeFont1}}</code> and paste the unziped font. </li>
                <li>Go to <code>{{codeFont2}}</code> and set the font attributese. </li>
                <p>For Example: <br> family: <code>{{codeFont3}}</code> <br> font: <code>{{codeFont4}}</code> <br> weight: <code>{{codeFont5}}</code> </p>
                <li>Go to <code>{{codeFont1}}</code> , <code>{{codeFont2}}</code> and <code>{{codeFont6}}</code> files and change the name of the font family from there. </li>

            </ol>
        </section>
        <section id="staticText">
            <h2>Static Text</h2>
            <p>Steps:</p>
            <ol>
                <li>Go to <code>{{codeColor1}}</code> and change the color values to get a light theme.</li>
                <li>Go to <code>{{codeColor2}}</code> and change the color values to get a dark theme.</li>
            </ol>
        </section>
        <section id="textStyle">
            <h2>Text Style </h2>
            <p>Steps:</p>
            <ol>
                <li>Go to <code>{{codeColor1}}</code> and change the color values to get a light theme.</li>
                <li>Go to <code>{{codeColor2}}</code> and change the color values to get a dark theme.</li>
            </ol>
        </section>
        <section id="fontSize" >
            <h2>Font Size</h2>
            <p>Steps:</p>
            <ol>
                <li>Go to <code>{{codeColor1}}</code> and change the color values to get a light theme.</li>
                <li>Go to <code>{{codeColor2}}</code> and change the color values to get a dark theme.</li>
            </ol>
        </section>

    </div>

    

    <div class="div2">
        <aside>
            <ul>
                <li ><a href="#appColor">App Color</a></li>
                <li ><a href="#appFont">App Font</a></li>
                <li ><a href="#staticText">Static Text </a></li>
                <li ><a href="#textStyle">Text Style</a></li>
                <li ><a href="#fontSize">Font Size</a></li>
                
            </ul>
        </aside>
    </div>


</div>