<div class="total-2">
    <div class="text-container">


        <h1>Disclaimer</h1>

        <ul>
            <li>A prior knowledge of app development is required while making any changes to the app.</li>
            <li>The documetnation needs to be thoroughly followed for making the right adjustments.</li>
            <li>The client is solely responsible for any further alteration of the app after the purchase.</li>
            <li>No installation or app publication assistance is included in the Envato Market fee./
                The pricing on Envato Market is exclusive of any installation charge and/or any publishing support.</li>
            <li>Scorpio Corporation cannot be held accountable for any error or mistakes that might occur in the
                process.</li>

        </ul>

    </div>
</div>